<h1>About Math Racer</h1>

<%# Generate the video tag using the ruby video helper, see report for details%>
<aside>
	<%= video_tag "video.mp4", :width => "100%", :height => "auto", :controls => true %>
</aside>

<%# Content of about page %>
<h3>Red Hats present: Math Racer</h3>
<h3>The Pain Point</h3>
<p>Practising mathematics just isn’t fun, solving meaningless problem after problem for the sake of getting better at the problems, so we’re adding a little motivation to an otherwise menial task.</p>
<h3>How do we solve the issue?</h3>
<p>We fix the issue by hiding the boring repetition of practising math behind a competitive atmosphere; it’s no longer a case of completing a sheet of problems for homework, now you work towards being the best, the fastest. We achieved this using peer motivation; every set of problems is now a race against other players.</p>
<p><h3>Target Audience:</h3> <p>Primary school students</p></p>
<p><h3>Scale:</h3> <p>100 concurrent users</p></p>
<p><h3>Scope:</h3> <p>National</p></p>
<h3>Key features and why they make Math Racer better than the rest</h3>
<h3>A competitive environment</h3>
<p>Math Racer offers peer to peer competition, all games consist of two or more players going head to head in real time. Competitors like http://www.sheppardsoftware.com/math.htm only let you compete against the clock. Offering player versus player interaction means that users are more engaged and more likely to play again.</p>
<h3>Stat tracking</h3>
<p>Math Racer keeps track of how well you’ve been doing and gives you access to useful metrics to see how you’ve been improving.  Other sites such as http://www.math-play.com/ only offer a disjoint selection of flash games with no sense of progress or improvement. Tracking progress motivates users with the sense of accomplishment they can see for themselves that they are improving.</p>
