<h1>Race Page</h1>
<% if authenticate_user %>
	<p>Current games:</p>
	<% @games.each do |game| %>
	<%= game.gameid %>
	<%end%>
<% else %>
<P>Please log in to play.</P>
<%end%>
<%= link_to 'Back', pages_path %>
